form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

input[type="submit"] {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #45a049;
}